{% extends 'common/base.html' %}

{% block title %}{{ info.title }}{%endblock%}

{% block extra_static %}
{% load static %}
{%endblock%}

{% block content %}

<div class="col-sm-5">
    <form class="form-inline">
        <select name="product_type">
            <option value="1">NikkeiMiniFuture</option>
        </select>
        <input type="date" name="start_date" value="{{ info.start_date }}">
        <input type="date" name="end_date" value="{{ info.end_date }}">
        <button type="submit" class="btn btn-primary">update</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>timestamp</th>
                <th>rate</th>
                <th>status</th>
                <th>position</th>
                <th>t_profit</th>
                <th>execute</th>
            </tr>
        </thead>
        <tbody>
    {% for d in object_list %}
        <tr>
            <td>{{ d.datetime }}</td>
            <td>{{ d.current_rate }}</td>
            <td>{{ d.current_status }}</td>
            <td>{{ d.current_position }}</td>
            <td>{{ d.profit_loss }}</td>
            <td>{{ d.has_trade }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-sm-7">


</div>

{% endblock %}